<!DOCTYPE html>
<html>
{{template "header"}}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>菜单管理
                    </h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">

                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTables-example dataTable"
                               id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                            <tr role="row">
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1">
                                    菜单名称
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {{range .list}}
                            <tr class="">
                                <td>{{.MenuName}}</td>
                            </tr>
                            {{end}}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="alert"
                                     aria-live="polite" aria-relevant="all">显示 21 到 30 项，共 {{.total}} 项
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button previous" aria-controls="DataTables_Table_0"
                                            tabindex="0" id="DataTables_Table_0_previous"><a href="#">上一页</a></li>
                                        <li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0"><a
                                                href="#">1</a></li>
                                        <li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0"><a
                                                href="#">2</a></li>
                                        <li class="paginate_button active" aria-controls="DataTables_Table_0"
                                            tabindex="0"><a href="#">3</a></li>
                                        <li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0"><a
                                                href="#">4</a></li>
                                        <li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0"><a
                                                href="#">5</a></li>
                                        <li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0"><a
                                                href="#">6</a></li>
                                        <li class="paginate_button next" aria-controls="DataTables_Table_0" tabindex="0"
                                            id="DataTables_Table_0_next"><a href="#">下一页</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
