<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 登录</title>
    <meta name="keywords" content="GinAdmin">
    <meta name="description" content="GinAdmin">

    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="/assets/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/assets/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <link href="/assets/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/assets/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">

    <script src="/assets/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/assets/hplus/js/bootstrap.min.js?v=3.3.6"></script>
</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">H+</h1>

        </div>
        <h3>欢迎使用 H+</h3>

        <form class="m-t" method="post" role="form" action="/checklogin">
            {{if .msg}}
            <div class="alert alert-danger">
                {{.msg}}
            </div>
            {{end}}
            <div class="form-group">
                <input aria-required="true" type="text" name="username" class="form-control" placeholder="用户名"
                       required="">
            </div>
            <div class="form-group">
                <input aria-required="true" type="password" name="password" class="form-control" placeholder="密码"
                       required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">登 录</button>
        </form>
    </div>
</div>
</body>
</html>
