{{ define "header" }}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>GinAdmin</title>

    <meta name="keywords" content="GinAdmin">
    <meta name="description" content="GinAdmin">


    <link rel="shortcut icon" href="favicon.ico">
    <link href="/assets/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/assets/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/assets/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/assets/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script src="/assets/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/assets/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/assets/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/hplus/js/plugins/layer/layer.min.js"></script>
    <script src="/assets/hplus/js/hplus.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="/assets/hplus/js/contabs.min.js"></script>
    <script src="/assets/hplus/js/plugins/pace/pace.min.js"></script>

</head>

{{ end }}