{{ define "nav" }}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="/assets/hplus/img/profile_small.jpg"/></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">Beaut-zihan</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li class="divider"></li>
                        <li><a href="login.html">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">H+
                </div>
            </li>
            {{$subMenus := .menus}}
            {{range .menus}}
            {{if eq .ParentId 0}}
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">{{.MenuName}}</span>
                    <span class="fa arrow"></span>
                </a>

                {{$pid := .ID}}
                <ul class="nav nav-second-level">
                    {{range $subMenus}}
                    {{if eq $pid .ParentId}}
                    <li>
                        <a class="J_menuItem" href="{{.MenuUrl}}" data-index="0">{{.MenuName}}</a>
                    </li>
                    {{end}}
                    {{end}}
                </ul>
            </li>
            {{end}}
            {{end}}

        </ul>
    </div>
</nav>

{{ end }}